@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}

.header{
    display: grid;
    width: 100%;
    height: 50px;
    padding: 10px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat (1,1fr);
    
    grid-template-areas:
    "logo burger"
}
.logo{
    grid-area: logo;
    gap: 10px;

}
.burger{
    grid-area: burger;
    justify-content: flex-end
}
.logo h1{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family:"SF-Pro-Text-Bold" ;
    color: white;


}
.logo, .burger{
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.logo i, .burger i{
    font-size: 24px;
    color: white;

}

.burbu{
    margin-top: -55px;
    background-image: url(/storage/img/banner_heart.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  
    width: 100%;
    height: 35rem;
    z-index: -1;
    
}

.balance{
   display:flex;
    width: 53%;
    height: 26vh;
    background-color:var(--color-primary);
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inset: 0;
    margin: auto;
    border-radius: 100%;
    margin-top: 20px;
    font-size: 1.2em;
}
.balance h2 {
    font-size: 1.3em;
}
.opciones{
    display: flex;
    width: 80%;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    inset: 0;
    margin: auto;

}
.opc1,
.opc2,
.opc3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    width: 25%;
    height: 65%;
    background-color: blue;
    border-radius: 20px;
    margin-top: 28px;
}
.opc1{
    background-color: var(--color-secundary);
    color:white
}

.opc2{
    background-color: white;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.opc3{
    background-color: white;
    color: grey;
    border: 1px solid grey;
}
.grafic{
    display: flex;
    margin-top: 1.8rem;
   
    width: 100%;
    height: 80%;
}
.grafic img{
    width: 100vh;
    height: 200px;
    inset: 0;
    margin: auto;
    object-fit: contain;


}
.low{
    display: flex;
    width: 100%;
    height: 17vh;
    margin-top: 0.2rem;
    background:var(--color-cuarto);
    justify-content: space-between;
    position: relative;
    
}
.card1{
    border-radius: 30px;
}
.card1 img{
    width: 30%;
    height: 90px;
    object-fit: contain;
    position: absolute;
    bottom: 10px;
    left: 20px;
   

}

.box2{
    display: flex;
    width: 60%;
    height: 14vh;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 20px;
    
 
}
.banner__close{
    position: absolute;
    background: var(--color-primary);
    border: none;
    color: white;
    width: 25px;
    height: 25px;
    margin-top: -7px;
    right: 15px;
    border-radius: 100%;
}
.banner__close i{
    margin-top: 0.5px;
    margin-left: 0.4px;
    font-size: 25px;
}
.low h3{
    height: 1vh;
    color: var(--color-secundary);
    font-size: 1.5rem;
   margin-top: 1.8rem;
    


}
.low p{
    height: 2vh;
    color: grey;
    font-size: 0.8em;
    margin-top: 1.6rem;
    margin-bottom: 20px;

}


.icon__menu{
    text-align: center;
}
.menu-icon{
    text-decoration: none;
    padding-top: 15px;
}

.menu{
    position: absolute;
    margin-top: 0% ;
    top:95% ;

    
    left: 61%;
    transform: translate(-50%, 55%);


    
}
.toggle{
    display: none;

}
.menu-icon{
    margin-top: 0px;

}
.toggle + .menu-icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    display: block;
    background:var(--color-primary);
    color: #fff;
    text-align: center;
    font-size: 1em;
    transition: all .8s
}
.menu i{
    padding-top: 20px;
    font-weight: 300;
    font-size: 2em;

}

.icon__menu{
    box-shadow: 0px 0px 0px 3px #fff;
}

.toggle + .menu-icon:hover{
    box-shadow: 0px 0px 0px 5px #fff;

}
.toggle:checked + .menu-icon{
    transform: translate(-50%, -50%) scale(.7);
}
.menu input[type=checkbox] + label:before{
    content: "";
    position: absolute;

}

.toggle + .menu-icon:before,
.toggle + .menu-icon:after{
    content: "";
    position: absolute;
    /* margin: -3px; */
    border-radius: 5px;
    transition: all .3;

}

.toggle + .menu-icon:after{
    width: 0;
    height: 30px;
    left: 25px;
    top: 10px;

}
.toggle:checked +.menu-icon:before,
.toggle-checked + .menu-icon:after{
    transform: rotate(135deg);
}

.toggle ~ .icon__menu{
    position: absolute;
    background-color: var(--color-secundary);
    color: #fff;
    width: 70px;
    height: 70px;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all .3s;
    opacity: 0;
    border-radius: 50%;



}

.toggle:checked ~ .icon__menu{
    opacity: 1;
    transform: translate(-50%, -50% ) scale(1);

}

.menu> .toggle:checked ~ .icon__menu:nth-last-of-type(1){
    top: -102px;
    left: -20;
    transition-delay: 0s;
}

.menu > .toggle:checked ~ .icon__menu:nth-last-of-type(2){
    top: -54px;
    left: 100px;
    transition-delay: .125s;


}
.menu > .toggle:checked ~ .icon__menu:nth-last-of-type(3){

    top: 36px;
    left: 95px;
    transition-delay:.25s ;
}

.menu > .toggle:checked ~ .icon__menu:nth-last-of-type(4){
    top: 102px;
    left: -20;
    transition-delay: .373s;

}
.menu > .toggle:checked ~ .icon__menu:nth-last-of-type(5){
    top: 36px;
    left: -95px;
    transition-delay: .5s;
}
.menu > .toggle:checked ~ .icon__menu:nth-last-of-type(6){
    top: -54px;
    left: -100px;
    transition-delay:.625s;

}

.menu > .toggle:checked ~ .icon__menu:nth-last-of-type(7){
    top: -20;
    left: -113px;
    transition-delay: .75s;

}

.menu > .toggle:checked ~ .icon__menu:nth-last-of-type(8){
    top: -94px;
    left: -94px;
    transition-delay: .875s

}