@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro-Text-Regular";
}

.header{
    
    display: grid;
    width: 65%;
    height: 40px;
    /* background: red; */
    padding: 10px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat (1,1fr);
    
    grid-template-areas:
   "" "logo burger" 
}
.logo{
    grid-area: logo;
    gap: 10px;
    font-weight: 800;
    /* */
   padding-top: 9px;


}
.burger{
    grid-area: burger;
    justify-content: flex-end
}
.logo h1{
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family:"SF-Pro-Text-Bold" ;


}
.logo, .burger{
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.logo i, .burger i{
    font-size: 24px;
}

/*********************************************************************/
.container{
    /* background: blue; */
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 10px;
    grid-gap: 25px

    
}
.banner{
    display: flex;
    flex-direction: column;
    /* background: olivedrab; */
    gap: 15px
}
.banner__title{


    /* background: darkgoldenrod; */
    padding: 10px;
}

.banner__title{
    font-size: 1.4rem;
    text-transform: capitalize;
  
}
.banner__publicidad{
    width: 100%;
    height: 100px;
    /* background: #00388b; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .banner__logo{
    /* background: greenyellow; 
} **/
.banner__logo img{
    /* padding: 15px; */
    height: 130px;
}
.banner__card{
    width: 90vw;
    height: 100px;
    background: var(--color-ternario);
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: var(--color-shado-tranparent);
}
.banner__data{
    width: 80%;
    /* background: orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    
    position: relative;
}
.banner__data i {
    margin-top: 3px;
    font-size: 20px;
}
.banner__data strong{
    font-family: "SF-Pro-Text-Bold";
    font-size: 20px;
}
.banner__data small{
    font-family: "SF-Pro-Text-Regular";
    color: grey;
    margin-top: 0.3rem;
}
.banner__close{
    position: absolute;
    background: var(--color-primary);
    border: none;
    color: var(--color-ternario);
    width: 25px;
    height: 25px;
    top: 5px;
    right: 10px;
    border-radius: 100%;
}
.carusel__title h3{
    font-size: 25px;
    font-family: "SF-Pro-Text-Bold";
}
.banner__more{
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-family: "SF-Pro-Text-Bold";
    font-size: .8rem;
    color: var(--color-ternario);
    padding: 5px;
    background: var(--color-primary);
}

[data-card]::before{
    content: attr(data-card);
    color: var(--color-primary);
    font-family: "SF-Pro-Text-Bold";
}

.carusel__card{
    width: 95vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin: auto;
    align-items: center;
    gap: 5px;
    margin: 5px 0;
}
.carusel__img{
    min-width: 55%;
    min-height: 40vh;
    background: url(../storage/img/card.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color-ternario);
}
.carusel__img small,
.carusel__img img{
    position: absolute;
}
.carusel__img small{
    top: 20px;
    right: 20px;
}

.carusel__img img{
    left: 20px;
    bottom: 20px;}
/* .menu{
    background: var(--color-secundary);
    position: fixed;
    bottom: 0;
    width: 100%

}
.menu ul{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
}
.menu ul li a i{
    font-size: 25px;
    color: var(--color-icon);
}
.menu ul li a i:hover{
    color: var(--color-primary);
    transition: color .3s ease-in-out;
} */
.icon__menu{
    text-align: center;
}
.menu-icon{
    text-decoration: none;
    padding-top: 15px;
}

.menu{
    position: absolute;
    margin-top: 0% ;
    top:80% ;

    
    left: 61%;
    transform: translate(-50%, 55%);


    
}
.toggle{
    display: none;

}
.menu-icon{
    margin-top: 0px;

}
.toggle + .menu-icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(1);
    display: block;
    background:var(--color-primary);
    color: #fff;
    text-align: center;
    font-size: 1em;
    transition: all .8s
}
.menu i{
    padding-top: 20px;
    font-weight: 300;
    font-size: 2em;

}

.icon__menu{
    box-shadow: 0px 0px 0px 3px #fff;
}

.toggle + .menu-icon:hover{
    box-shadow: 0px 0px 0px 5px #fff;

}
.toggle:checked + .menu-icon{
    transform: translate(-50%, -50%) scale(.7);
}
.menu input[type=checkbox] + label:before{
    content: "";
    position: absolute;

}

.toggle + .menu-icon:before,
.toggle + .menu-icon:after{
    content: "";
    position: absolute;
    /* margin: -3px; */
    border-radius: 5px;
    transition: all .3;

}

.toggle + .menu-icon:after{
    width: 0;
    height: 30px;
    left: 25px;
    top: 10px;

}
.toggle:checked +.menu-icon:before,
.toggle-checked + .menu-icon:after{
    transform: rotate(135deg);
}

.toggle ~ .icon__menu{
    position: absolute;
    background-color: var(--color-secundary);
    color: #fff;
    width: 70px;
    height: 70px;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all .3s;
    opacity: 0;
    border-radius: 50%;



}

.toggle:checked ~ .icon__menu{
    opacity: 1;
    transform: translate(-50%, -50% ) scale(1);

}

.menu> .toggle:checked ~ .icon__menu:nth-last-of-type(1){
    top: -102px;
    left: -20;
    transition-delay: 0s;
}

.menu > .toggle:checked ~ .icon__menu:nth-last-of-type(2){
    top: -54px;
    left: 100px;
    transition-delay: .125s;


}
.menu > .toggle:checked ~ .icon__menu:nth-last-of-type(3){

    top: 36px;
    left: 95px;
    transition-delay:.25s ;
}

.menu > .toggle:checked ~ .icon__menu:nth-last-of-type(4){
    top: 102px;
    left: -20;
    transition-delay: .373s;

}
.menu > .toggle:checked ~ .icon__menu:nth-last-of-type(5){
    top: 36px;
    left: -95px;
    transition-delay: .5s;
}
.menu > .toggle:checked ~ .icon__menu:nth-last-of-type(6){
    top: -54px;
    left: -100px;
    transition-delay:.625s;

}

.menu > .toggle:checked ~ .icon__menu:nth-last-of-type(7){
    top: -20;
    left: -113px;
    transition-delay: .75s;

}

.menu > .toggle:checked ~ .icon__menu:nth-last-of-type(8){
    top: -94px;
    left: -94px;
    transition-delay: .875s

}
